# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*.log

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
logic/bin/logic
job/bin/job
sequence/bin/seqsrv
relation/bin/relation
ap/bin/apsrv
.idea
logic/log
job/log
sequence/log
relation/log
ap/log
*.log
go.sum
test/test